.container {
  max-width: 1200px;
  width: calc(100% - var(--container-padding-2));
  margin: auto;
}

.pattern {
  &.pattern--figure-red {
    position: absolute;
    left: 0;
    top: 0;
  }

  &.pattern--glow-white {
    background: var(--gradient-white-1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20%;
    @include m(sm) {
      display: none;
    }
  }

  &.pattern--cloud-left {
    position: absolute;
    width: 840px;
    top: 0;
    z-index: -1;
    @include m(md) {
      display: none;
    }

    &.is1 {
      right: 0;
      top: -40%;
      @include m(lg) {
        top: -30%;
      }
      @include m(md) {
        right: auto;
        left: 0;
        top: 0;
        width: 600px;
        transform: translate(-25%, -25%);
      }
    }

    &.is2 {
      top: -120px;
      left: -150px;
    }

    &.is3 {
      bottom: 0;
      left: -50px;
    }

    &.is4 {
      top: -80px;
      left: -220px;
    }
  }

  &.pattern--cloud-right {
    position: absolute;
    left: 0;
    top: 0;
    width: 840px;

    &.is1 {
      top: -100px;
      left: -150px;
    }
  }

  &.pattern--figure-red {
    bottom: 0;
    position: absolute;
    z-index: -1;
    width: 180%;
    left: -45vw;
  }

  &.pattern--star {
    position: absolute;

    &.is1 {
      top: -80px;
      left: 100px;
    }

    &.is2 {
      bottom: 5px;
      right: -30px;
    }
  }

  &.pattern--moon {
    position: absolute;
    top: -25px;
    right: -90px;
  }
}

.circle {
  border-radius: 50%;

  &.isIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.isXs {
    width: 43px;
    min-width: 43px;
    height: 43px;
  }

  &.isXMd {
    width: 73px;
    min-width: 73px;
    height: 73px;
  }

  &.isMd {
    width: 87px;
    min-width: 87px;
    height: 87px;
  }

  &.isLg {
    width: 115px;
    min-width: 115px;
    height: 115px;
    min-height: 115px;
    @include m(sm) {
      min-width: 85px;
      min-height: 85px;
      width: 85px;
      height: 85px;
    }
  }

  &.isXl {
    width: 335px;
    height: 335px;
  }

  &.isSXl {
    width: 1000px;
    height: 1000px;
  }

  &.isWhite {
    background: var(--white);
  }

  &.isTWhite {
    background: var(--t-white-2);
  }

  &.isTGrey5 {
    background: var(--t-grey-5);
  }

  &.isPink2 {
    background: var(--pink-2);
  }

  &.isLime {
    background: var(--lime);
  }

  &.isBlue3 {
    background: var(--blue-3);
  }

  &.isPink1 {
    background: var(--pink-1);
  }

  &.isBg {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &.isShadowSm {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.circle--heart {
    background-image: url('/img/bg--circle-heart.svg')
  }

  &.circle--moon {
    background-image: url('/img/bg--circle-moon.svg')
  }

  &.circle--guy {
    background-image: url('/img/bg--circle-guy.svg')
  }

  &.circle--tooth {
    background-image: url('/img/bg--circle-tooth.svg')
  }

  &.circle--human-xl {
    background-image: url('/img/bg--circle-human.png')
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-sm);
  font-family: inherit;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
  cursor: pointer;
  text-align: center;

  &:active,
  &:focus {
    border: inherit;
    outline: none;
  }

  &.isMd {
    height: 61px;
    min-width: 193px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;

    @include m(md) {
      height: 53px;
      min-width: 169px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &.isSm {
    min-width: 165px;
    height: 52px;
    font-size: 16px;
    @include m(sm) {
      min-width: 95px;
      height: 36px;
      font-size: 13px;
    }
  }

  &.isYellow {
    background: var(--yellow);
    color: var(--black);
    box-shadow: var(--shadow-1);
  }

  &.isBlackOutline {
    border: 2px solid var(--black-3);
    color: var(--black-1);
    background: transparent;
  }

  &.isGreyOutline {
    border: 2px solid var(--grey-4);
    color: var(--grey-4);
    background: transparent;
  }
}

.slider {

  .slick-list {
    position: relative;
    z-index: 1;
  }

  .slick-slide {
    outline: none;
  }

  .img--arrow {
    position: relative;
    width: 8px;
  }

  .icon {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    cursor: pointer;
    box-shadow: var(--shadow-1);

    &.icon--left {
      left: 10px;

      img {
        right: 2px;
      }
    }

    &.icon--right {
      right: 10px;

      img {
        left: 2px;
      }
    }
  }

  &.slider--main {
    width: 465px;
    height: 465px;
    position: relative;
    @include m(xs) {
      width: 300px;
    }

    .slick-list {
      height: 100%;
    }

    .slick-slide {
      top: 0;
      height: 100%;
      width: 100%;
    }

    .slick-track {
      display: flex;
      height: 100%;
    }

  }

  &.slider--nav {
    margin-top: 30px;

    .slick-slide {
      min-height: 100px;
      margin-right: 20px;
      position: relative;
      border: 2px solid transparent;

      &.slick-current {
        border: 2px solid var(--purple-1)
      }
    }

    .slick-track {
      display: flex;
      flex-wrap: wrap;
      width: 100% !important;
      transform: none !important;
    }

  }

  &.slider--cards {
    @include m(xs) {
      margin: 0;
    }

    .slick-track {
      display: flex;

    }

    .slick-list {
      width: 100%;
    }

    &.is2 {
      .slick-list {
        @include m(xs) {
          padding: 0 !important;
        }
      }
    }
  }

  &.slider--modal {
    .text {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img--bunny {
      width: 60%;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .slick-slide {
      border-radius: var(--radius-md);
      background: var(--grey-1);
      z-index: 1;
    }
  }
}

.video {
  position: relative;
  overflow: hidden;

  &.video--placeholder {
    background: var(--white);
    height: 0;
    width: 100%;
    border-radius: 132px 132px 132px 0;
    padding-bottom: 62.5%;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    display: none;

    &.isActive {
      display: block;
    }

    .img--icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.video--horizontal {
    display: none;
    height: 0;
    width: 100%;
    border-radius: 132px 132px 132px 0;
    padding-bottom: 62.5%;
    box-shadow: var(--shadow-2);

    &.isActive {
      display: block;
    }

  }

  iframe {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal {
  display: none;
  width: calc(100% - 60px);
  max-width: 1050px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--radius-md);
  z-index: 10000;
  box-shadow: var(--shadow-1);

  @include m(md) {
    width: 545px;
    top: 50px;
    bottom: auto;
    transform: translatex(-50%)
  }

  @include m(xs) {
    width: 100%;
    top: 0;
    border-radius: 0;
    height: 100vh;
  }

  &.isActive {
    display: block;
  }

  .card {
    max-height: 800px;
    overflow-y: auto;
    @include m(xs) {
      max-height: 100vh;
      height: 100%;
    }
  }

  .cta {
    margin-top: 0;
    position: relative;
    z-index: 2;
  }

  .row {
    flex-wrap: nowrap;
    overflow: hidden;
    @include m(md) {
      flex-wrap: wrap;
    }

  }

  .col {
    &.col--img {
      width: 465px;
    }

    &.col--text {
      @include m(md) {
        width: auto;
        margin-top: 50px;
      }
    }
  }
}

.menu {
  position: fixed;
  padding: 15px 50px;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: 250px;
  height: 100vh;
  z-index: 1000;

  @include m(sm) {
    transform: translatey(-100%);
    padding: 0;
  }

  .isHeaderActive & {
    background: var(--purple-2);

    @include m(lg) {
      transform: none;
    }
    @include m(sm) {
      transition: .1s ease-in-out transform;
      left: 0;
      margin: auto;
      top: var(--header-height);
      width: 100%;
    }
  }

  .img--logo {
    width: 150px;
    display: block;
    margin: 80px auto 0;
    @include m(sm) {
      display: none;
    }
  }

  .bg--color {
    top: 0;
  }

  .nav {
    flex-direction: column;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
    transition: .1s ease opacity;

    @include m(sm) {
      margin-top: 10px;
      visibility: visible;
    }

    .isHeaderActive & {
      opacity: 1;
      visibility: visible;
    }

    a {
      width: 100%;
      margin-top: 10px;
      @include m(sm) {
        text-align: center;
        font-weight: 500;
        margin-right: 0;
        margin-top: 30px;
      }
    }
  }
}

.card {
  width: 100%;

  &.isRadFullMd {
    border-radius: var(--radius-md);
  }

  &.isRadFullLg {
    border-radius: var(--radius-lg);
  }

  &.isRadLgBotLft {
    border-radius: var(--radius-lg-bot-lft);
  }

  &.isRadLgBotRgt {
    border-radius: var(--radius-lg-bot-rgt);
  }

  &.isWhite {
    background: var(--white);
    color: var(--black);
  }

  &.isGrey {
    background: var(--grey-3);
  }

  &.isTWhite5 {
    background: var(--t-white-5);
  }

  &.isTWhite1 {
    background: var(--t-white-1);
  }

  &.isSm {
    padding: 25px;
  }

  &.isMd {
    padding: 30px;
  }

  &.isLg {
    padding: 40px;
    @include m(sm) {
      padding: 30px;
    }
  }

  &.card--review {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.card--clip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    .img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateY(-75%) translateX(-50%);
      z-index: -1;
    }

    .text:last-of-type {
      margin-bottom: auto;
    }

    .button {
      margin-top: 20px;

    }
  }

  &.card--default {
    position: relative;

    .img--bunny {
      position: absolute;
      width: 150px;
      right: 0;
      bottom: 0;
      transform: translateX(50%) translateY(50%) rotate(5deg);
    }

    .box--img {
      margin-top: 20px;
    }

    .img--button {
      display: block;
    }

    .img--link {
      display: block;
      margin-right: 20px;
    }

    .text--desc {
      margin-top: 20px;
    }

  }

  &.card--placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    &.isH100 {
      height: 100px;
    }

    &.isH200 {
      height: 200px;
    }

    &.isH300 {
      height: 300px;
    }

    &.isH650 {
      min-height: 650px;
    }

    &.isW350 {
      max-width: 350px;
    }

    &.isHFull {
      height: 100%;
    }
  }

  &.card--tag {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    .tag {
      position: absolute;
      left: -20px;
      top: 40px;
    }

    .button {
      margin-top: auto;
    }

    .text--price {
      margin-bottom: 30px;
    }
  }
}

.text {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  &.isStriped {
    position: relative;

    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: 50%;
      right: -5%;
      width: 110%;
      height: 2px;
      transform: rotate(-10deg) translateY(-50%);
      @at-root .isTW6#{&} {
        background: var(--t-white-6);
      }
      @at-root .isTB6#{&} {
        background: var(--t-black-6);
      }
      @at-root .isBlack1#{&} {
        background: var(--black-1);
      }
    }
  }

  &.isXxs {
    font-size: 14px;
  }

  &.isXs {
    font-size: 16px;
    line-height: 1.35;
    @include m(md) {
      font-size: 15px;
    }
  }

  &.isSm {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    @include m(md) {
      font-size: 16px;
    }
  }

  &.isMd {
    font-size: 22px;
    line-height: 1.4;
    @include m(md) {
      font-size: 19px;
    }
    @include m(sm) {
      font-size: 16px;
    }
  }

  &.isSMd {
    font-size: 30px;
    line-height: 1.5;
    @include m(md) {
      font-size: 22px;
    }
  }

  &.isLg {
    font-size: 33px;
    line-height: 1.3;
    @include m(md) {
      font-size: 28px;
    }
  }

  &.isXl {
    font-size: 40px;
    line-height: 1.2;
    @include m(md) {
      font-size: 33px;
    }
  }

  &.isSXl {
    font-size: 45px;
    line-height: 1.1;
  }

  &.isXxl {
    font-size: 60px;
    line-height: 1.05;
    @include m(sm) {
      font-size: 35px;
    }
  }

  &.isC {
    text-align: center;
  }

  &.isR {
    text-align: right;
  }

  &.is100 {
    width: 100%;
  }

  &.isB500 {
    font-weight: 500;
  }

  &.isB600 {
    font-weight: 600;
  }

  &.isB700 {
    font-weight: 700;
  }

  &.isTW6 {
    color: var(--t-white-6)
  }

  &.isTB6 {
    color: var(--t-black-6)
  }

  &.isRed {
    color: var(--pink-3)
  }

  &.isWhite {
    color: var(--white)
  }

  &.isBlack1 {
    color: var(--black-1)
  }

  &.isBlack2 {
    color: var(--black-2)
  }

  &.isNeucha {
    font-family: 'Neucha', cursive;
  }

  &.isRubik {
    font-family: 'Rubik', cursive;
  }

  &.isSaira {
    font-family: 'Saira', sans-serif;
  }

  &.m--xxs {
    margin-top: 7px;
  }

  &.m--xs {
    margin-top: 15px;
  }

  &.m--sm {
    margin-top: 30px;
  }

  &.m--md {
    margin-top: 45px;
  }

  &.text--title-main {
    @include m(sm) {
      text-align: left;
    }
  }

  &.text--title-desc {
    max-width: 700px;
    margin: 10px auto 0;
    @include m(sm) {
      margin-top: 20px;
      text-align: left;
    }
  }

  &.text--number {
    font-size: 111px;
    transform: rotate(-10.67deg) translateY(10px);
    margin-right: 30px;
    line-height: 1;

    &.isShadow {
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &.isBlueLight {
      color: var(--blue-1);
    }

    &.isBlueDark {
      color: var(--t-blue-8);
    }

    &.isBlueGreen {
      color: var(--blue-4);
    }

    &.isWhite {
      color: var(--white);
    }
  }

  &.text--avatar {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    @include m(md) {
      font-size: 21px;
      line-height: 1.5;
    }
  }

  &.text--review {
    font-size: 26px;
    line-height: 1.8;
    @include m(md) {
      font-size: 21px;
      line-height: 1.5;
    }
  }
}

.box {
  display: flex;

  &.isAIC {
    align-items: center;
  }

  &.isAIFE {
    align-items: flex-end;
  }

  &.isACFS {
    align-content: flex-start;
  }

  &.isACFE {
    align-content: flex-end;
  }

  &.isFDC {
    flex-direction: column;
  }

  &.isJE {
    justify-content: flex-end;
  }

  &.isJC {
    justify-content: center;
  }

  &.isWr {
    flex-wrap: wrap;
  }

  &.isH100 {
    height: 100%;
  }
}

.row {
  --gap: 20px;
  --gap-2: calc(var(--gap) * 2);
  --gap-n: calc(var(--gap) * -1);
  --gap-2n: calc(var(--gap) * -2);
  min-width: calc(100% + var(--gap-2));
  margin-left: var(--gap-n);
  margin-right: var(--gap-n);
  display: flex;
  flex-wrap: wrap;
}

.col {
  margin: var(--gap-2) var(--gap) 0;

  &.isNoM {
    margin-top: 0;
  }

  &.isRelative {
    position: relative;
  }

  &.is1_2 {
    width: calc(100% / 2 - var(--gap-2));
  }

  &.is3_4 {
    width: calc(100% * 3 / 4 - var(--gap-2));
  }

  &.is1_3 {
    width: calc(100% / 3 - var(--gap-2));
  }

  &.is1_4 {
    width: calc(100% / 4 - var(--gap-2));
  }

  &.is2_5 {
    width: calc(100% * 2 / 5 - var(--gap-2));
  }

  &.is3_5 {
    width: calc(100% * 3 / 5 - var(--gap-2));
  }

  &.is3_5_lg {
    @include m(lg) {
      width: calc(100% * 3 / 5 - var(--gap-2));
    }
  }

  &.is2_5_lg {
    @include m(lg) {
      width: calc(100% * 2 / 5 - var(--gap-2));
    }
  }

  &.is2_5_md {
    @include m(md) {
      width: calc(100% * 2 / 5 - var(--gap-2));
    }
  }

  &.is4_10 {
    width: calc(100% * 4 / 10 - var(--gap-2));
  }

  &.is6_10 {
    width: calc(100% * 6 / 10 - var(--gap-2));
  }

  &.is7_10 {
    width: calc(100% * 7 / 10 - var(--gap-2));
  }

  &.is3_10 {
    width: calc(100% * 3 / 10 - var(--gap-2));
  }

  &.is1_md {
    @include m(md) {
      width: calc(100% / 1 - var(--gap-2));
    }
  }

  &.is1_2_sm {
    @include m(sm) {
      width: calc(100% / 2 - var(--gap-2));
    }
  }

  &.is1_2_md {
    @include m(md) {
      width: calc(100% / 2 - var(--gap-2));
    }
  }

  &.is1_2_lg {
    @include m(lg) {
      width: calc(100% / 2 - var(--gap-2));
    }
  }

  &.is1_xs {
    @include m(xs) {
      width: calc(100% - var(--gap-2));
    }
  }

  &.is3_4_md {
    @include m(md) {
      width: calc(100% * 3 / 4 - var(--gap-2));
    }
  }

  &.is1_3_md {
    @include m(md) {
      width: calc(100% / 3 - var(--gap-2));
    }
  }

  &.is2_3_md {
    @include m(md) {
      width: calc(100% * 2 / 3 - var(--gap-2));
    }
  }

  &.is2_3_sm {
    @include m(sm) {
      width: calc(100% * 2 / 3 - var(--gap-2));
    }
  }

  &.is1_sm {
    @include m(sm) {
      width: calc(100% / 1 - var(--gap-2));
    }
  }

  &.is1_lg {
    @include m(lg) {
      width: calc(100% / 1 - var(--gap-2));
    }
  }

  &.is0_sm {
    @include m(sm) {
      display: none;
    }
  }

  @at-root .row.isFooter & {
    &:first-child {
      width: calc(100% * 4 / 21 - var(--gap-2));
      @include m(xs) {
        width: calc(100% / 2 - var(--gap-2)) !important;
      }
    }

    &:nth-child(n+2):nth-last-child(n+2) {
      width: calc(100% * 4 / 21 - var(--gap-2));
      @include m(xs) {
        width: calc(100% / 2 - var(--gap-2)) !important;
      }
    }

    &:last-child {
      width: calc(100% * 5 / 21 - var(--gap-2));
      @include m(xs) {
        width: calc(100% / 1 - var(--gap-2)) !important;
      }
    }
  }
}

.cta {
  &.cta--1 {
    display: flex;
    align-items: center;

    .box--numbers {
      flex-wrap: wrap;
      max-width: 150px;
      margin-left: 20px;

      .text.isLg {
        line-height: 0.9;
      }

      .text.isMd {
        line-height: 1.3;
      }
    }
  }

  &.cta--2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .text {
      &:first-child {
        margin-right: 20px;
      }
    }

    .box--numbers {
      display: flex;
      justify-content: center;
      align-items: baseline;
      width: 100%;
    }

    .button {
      margin-top: 20px;
    }
  }

  &.cta--3 {
    flex-wrap: wrap;
    display: flex;
    max-width: 250px;

    .text--price {
      margin-right: 20px;
    }

    .button {
      margin-top: 10px;
    }
  }
}

.nav {
  a {
    display: inline-block;
    margin-right: 50px;
    color: var(--white);
    font-weight: 300;
    font-size: 17px;

  }
}

.faq {
  padding-right: 20px;

  .box--item {
    position: relative;
    border-top: 1px solid var(--t-black-5);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    cursor: pointer;

    &.isLast {
      border-bottom: 1px solid var(--t-black-5);
    }

    .text--answer {
      display: none;
    }

    .img {
      transform: rotate(180deg);
    }

    &.isActive {
      .text--answer {
        display: block;
      }

      .img {
        transform: none;
      }
    }
  }

  .img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  .button {
    margin-top: 50px;
  }
}

.img {
  &.img--hamburger {
    display: none;
    cursor: pointer;

    .isHeaderActive & {
      content: url("../img/icon--close-white.svg");
    }

    @include m(lg) {
      display: block;
      order: 1;
    }
  }

  &.img--phone {
    z-index: 2;
    position: relative;

    &.isMd {
      height: 600px;
    }
  }

  &.isRelativeCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
  }

  &.isAbsoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(0);
  }

  &.img--close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 5;
  }

  //noinspection CssInvalidPropertyValue
  &.isSharp {
    image-rendering: -webkit-optimize-contrast;
  }
}

.tag {
  padding: 10px 20px;
  display: inline-flex;
  white-space: nowrap;

  .img {
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 7px;

    &.img--star {
      width: 30px;
    }

    &.img--moon {
      width: 25px;
    }
  }

  &.isNeucha {
    padding: 12px 30px 6px;
    font-family: 'Neucha', cursive;
  }

  &.isSaira {
    font-family: 'Rubik', cursive;
  }

  &.isXs {
    font-size: 17px;
    font-weight: 700;
  }

  &.isMd {
    font-size: 27px;
    @include m(lg) {
      font-size: 23px;
    }
  }

  &.isLg {
    font-size: 34px;
  }

  &.isYellow {
    background: var(--yellow);
  }

  &.isPurple {
    background: var(--purple-1);
    color: var(--white)
  }

  &.isGreen {
    background: var(--green);
  }

  &.isBlue {
    background: var(--blue-2);
  }

  &.isRad {
    border-radius: var(--radius-sm);
  }

  &.isABasline {
    display: inline-flex;
    align-items: baseline;
  }
}

.bg {
  z-index: -1;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  &.bg--color {
    width: 100%;
    height: 100%;
  }

  &.bg--blue {
    top: -120px;
  }

  &.bg--grey {
    top: -120px;
    @include m(sm) {
      height: 4000px;
    }
  }

  &.bg--lavender {
    top: -80px;
  }

  &.bg--tan-1 {
    top: -200px;
    min-width: 100%;
    min-height: 100%;
  }

  &.bg--tan-2 {
    @keyframes rotate-tan-2 {
      0% {
        transform: translateX(-50%) rotate(-5deg)
      }
      100% {
        transform: translateX(-50%) rotate(5deg)
      }
    }
    animation: rotate-tan-2 50s linear infinite alternate-reverse;
    top: -80px;
    height: 126%;
    min-width: 100%;

  }

  &.bg--tan-3 {
    height: 160%;
    top: -220px;
    left: 50%;
    transform: translateX(-50%);
    @include m(sm){
        top: -150px;
    }
  }

  &.bg--tan-4 {
    @keyframes rotate-tan-4 {
      0% {
        transform: translate(-50%, -58%) rotate(0deg)
      }
      100% {
        transform: translate(-50%, -58%) rotate(-30deg)
      }
    }
    width: 125%;
    top: 50%;
    transform: translate(-50%, -58%);
    animation: rotate-tan-4 50s linear infinite alternate-reverse;

    @include m(lg) {
      width: 125vw;
    }
  }

  &.bg--purple-hero {
    top: -10px;
    min-width: 100%;
    min-height: 110%;
    @include m(sm) {
      left: 0;
      transform: none;
    }
  }

  &.bg--purple-section {
    top: -100px;

  }

  &.bg--turquoise {
    top: 50px;
    @include m(md) {
      height: 2500px;
    }
  }

  &.bg--purple-footer {
    top: -60px
  }
}



