.container {
  max-width: 1200px;
  width: calc(100% - var(--container-padding-2));
  margin: auto;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: var(--radius-sm);
  font-weight: 500;
  font-family: inherit;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
  text-align: left;
  cursor: pointer;

  &:active,
  &:focus {
    border: inherit;
    outline: none;
  }

  &.isMd {
    padding: 17px 35px;
    min-width: 193px;
    font-size: 18px;
  }

  &.isYellow {
    background: var(--yellow);
    color: var(--black);
    box-shadow: var(--shadow-1);
  }

  &.isBlackOutline {
    border: 2px solid var(--black);
    background: transparent;
  }

  &.isGreyOutline {
    border: 2px solid var(--grey-5);
    background: transparent;
  }
}

.text {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  &.text--title-desc {
    max-width: 700px;
    margin: 20px auto 0;
  }

  &.text--number {
    font-size: 111px;
    transform: rotate(-10.67deg);
    margin-right: 30px;

    &.isShadow {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &.isBlueLight {
      color: var(--blue-1);
    }

    &.isBlueDark {
      color: var(--t-blue-8);
    }

    &.isBlueGreen {
      color: var(--blue-4);
    }

    &.isWhite {
      color: var(--white);
    }
  }

  &.text--avatar {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }

  &.text--review {
    font-size: 26px;
    line-height: 1.8;
  }

  &.isStriped {
    position: relative;

    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: 50%;
      right: -5%;
      width: 110%;
      height: 2px;
      transform: rotate(-10deg) translateY(-50%);
      @at-root .isTW6#{&} {
        background: var(--t-white-6);
      }
      @at-root .isTB6#{&} {
        background: var(--t-black-6);
      }
      @at-root .isBlack1#{&} {
        background: var(--black-1);
      }
    }
  }

  &.isXxs {
    font-size: 14px;
  }

  &.isXs {
    font-size: 16px;
    line-height: 1.7;
  }

  &.isSm {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
  }

  &.isMd {
    font-size: 22px;
    line-height: 1.4;
  }

  &.isSMd {
    font-size: 30px;
    line-height: 1.4;
  }

  &.isLg {
    font-size: 33px;
    line-height: 1.2;
  }

  &.isXl {
    font-size: 40px;
    line-height: 1.2;
  }

  &.isSxl {
    font-size: 45px;
    line-height: 1.1;
  }

  &.isXxl {
    font-size: 60px;
    line-height: 1.1;
  }

  &.isC {
    text-align: center;
  }

  &.isR {
    text-align: right;
  }

  &.is100 {
    width: 100%;
  }

  &.isB500 {
    font-weight: 500;
  }

  &.isB600 {
    font-weight: 600;
  }

  &.isB700 {
    font-weight: 700;
  }

  &.isTW6 {
    color: var(--t-white-6)
  }

  &.isTB6 {
    color: var(--t-black-6)
  }

  &.isRed {
    color: var(--pink-3)
  }

  &.isWhite {
    color: var(--white)
  }

  &.isBlack1 {
    color: var(--black-1)
  }

  &.isBlack2 {
    color: var(--black-2)
  }

  &.isNeucha {
    font-family: 'Neucha', cursive;
  }

  &.isRubik {
    font-family: 'Rubik', cursive;
  }

  &.isSaira {
    font-family: 'Saira', sans-serif;
  }

  &.m--xxs {
    margin-top: 7px;
  }

  &.m--xs {
    margin-top: 15px;
  }

  &.m--sm {
    margin-top: 30px;
  }

  &.m--md {
    margin-top: 45px;
  }
}

.box {
  display: flex;

  &.isAIC {
    align-items: center;
  }

  &.isAIFE {
    align-items: flex-end;
  }

  &.isACFS {
    align-content: flex-start;
  }

  &.isACFE {
    align-content: flex-end;
  }

  &.isFDC {
    flex-direction: column;
  }

  &.isJE {
    justify-content: flex-end;
  }

  &.isJC {
    justify-content: center;
  }

  &.isWr {
    flex-wrap: wrap;
  }

  &.isH100 {
    height: 100%;
  }
}

.row {
  --gap: 20px;
  --gap-2: calc(var(--gap) * 2);
  --gap-n: calc(var(--gap) * -1);
  min-width: calc(100% + var(--gap-2));
  margin-left: var(--gap-n);
  margin-right: var(--gap-n);
  display: flex;
  flex-wrap: wrap;
}

.col {
  margin: var(--gap) var(--gap) 0;

  &.isNoM {
    margin-top: 0;
  }

  &.isRelative {
    position: relative;
  }

  &.is1_2 {
    width: calc(100% / 2 - var(--gap-2));
  }

  &.is1_md {
    @include m(md) {
      width: calc(100% / 1 - var(--gap-2));
    }
  }

  &.is1_sm {
    @include m(sm) {
      width: calc(100% / 1 - var(--gap-2));
    }
  }

  &.is1_xs {
    @include m(xs) {
      width: calc(100% / 1 - var(--gap-2));
    }
  }

  &.is3_4_md {
    @include m(md) {
      width: calc(100% * 3 / 4 - var(--gap-2));
    }
  }

  &.is3_4 {
    width: calc(100% * 3 / 4 - var(--gap-2));
  }

  &.is1_3 {
    width: calc(100% / 3 - var(--gap-2));
  }

  &.is1_4 {
    width: calc(100% / 4 - var(--gap-2));
  }

  &.is2_5 {
    width: calc(100% * 2 / 5 - var(--gap-2));
  }

  &.is4_10 {
    width: calc(100% * 4 / 10 - var(--gap-2));
  }

  &.is6_10 {
    width: calc(100% * 6 / 10 - var(--gap-2));
  }

  &.is7_10 {
    width: calc(100% * 7 / 10 - var(--gap-2));
  }

  &.is3_10 {
    width: calc(100% * 3 / 10 - var(--gap-2));
  }

  @at-root .row.isFooter & {
    &:first-child {
      width: calc(100% * 4 / 21 - var(--gap-2));
    }

    &:nth-child(n+2):nth-last-child(n+2) {
      width: calc(100% * 4 / 21 - var(--gap-2));
    }

    &:last-child {
      width: calc(100% * 5 / 21 - var(--gap-2));
    }
  }
}

.cta {
  &.cta--1 {
    display: flex;
    align-items: center;

    .box--numbers {
      flex-wrap: wrap;
      max-width: 150px;
      margin-left: 20px;

      .text.isLg {
        line-height: 0.9;
      }

      .text.isMd {
        line-height: 1.3;
      }
    }

  }

  &.cta--2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .text {
      &:first-child {
        margin-right: 20px;
      }
    }

    .box--numbers {
      display: flex;
      justify-content: center;
      align-items: baseline;
      width: 100%;
    }

    .button {
      margin-top: 20px;
    }
  }
}

.faq {
  padding-right: 20px;

  .box--item {
    position: relative;
    border-top: 1px solid var(--t-black-5);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;

    &:last-child {
      border-bottom: 1px solid var(--t-black-5);
    }

    .text--answer {
      display: none;
    }

    .img {
      transform: rotate(180deg);
    }

    &.isActive {
      .text--answer {
        display: block;
      }

      .img {
        transform: none;
      }
    }
  }

  .img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}

.pattern {
  &.pattern--grad-radial-white {
    background: var(--gradient-white-1);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.pattern--grad-figure-white-sm {
    position: absolute;
    left: 0;
    top: 0;
    width: 840px;
  }

  &.pattern--grad-figure-red-lg {
    position: absolute;
    left: 0;
    top: 0;
  }

}

.circle {
  border-radius: 50%;

  &.isIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.isXs {
    width: 43px;
    min-width: 43px;
    height: 43px;
  }

  &.isMd {
    width: 87px;
    min-width: 87px;
    height: 87px;
  }

  &.isLg {
    width: 115px;
    height: 115px;
  }

  &.isXl {
    width: 335px;
    height: 115px;
  }

  &.isSXl {
    width: 1000px;
    height: 1000px;
  }

  &.isWhite {
    background: var(--white);
  }

  &.isTWhite {
    background: var(--t-white-2);
  }

  &.isPink2 {
    background: var(--pink-2);
  }

  &.isLime {
    background: var(--lime);
  }

  &.isBlue3 {
    background: var(--blue-3);
  }

  &.isPink1 {
    background: var(--pink-1);
  }
}

.video {
  position: relative;
  overflow: hidden;

  &.video--horizontal {
    height: 0;
    width: 100%;
    border-radius: 132px 132px 132px 0px;
    padding-bottom: 62.5%;
  }

  iframe {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card {
  width: 100%;

  &.isRadFullMd {
    border-radius: var(--radius-md);
  }

  &.isRadFullLg {
    border-radius: var(--radius-lg);
  }

  &.isRadLgBotLft {
    border-radius: var(--radius-lg-bot-lft);
  }

  &.isRadLgBotRgt {
    border-radius: var(--radius-lg-bot-rgt);
  }

  &.isWhite {
    background: var(--white);
    color: var(--black);
  }

  &.isGrey {
    background: var(--grey-3);
  }

  &.isTWhite5 {
    background: var(--t-white-5);
  }

  &.isTWhite1 {
    background: var(--t-white-1);
  }

  &.isMd {
    padding: 30px;
  }

  &.isLg {
    padding: 40px;
  }

  &.card--review {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.card--default {
    .box--img {
      margin-top: 20px;
    }

    .img--button {
      display: block;
    }

    .img--link {
      display: block;
      margin-right: 20px;
    }

    .text--desc {
      margin-top: 20px;
    }
  }

  &.card--placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    &.isH100 {
      height: 100px;
    }

    &.isH200 {
      height: 200px;
    }

    &.isH300 {
      height: 300px;
    }

    &.isH650 {
      min-height: 650px;
    }

    &.isW350 {
      max-width: 350px;
    }

    &.isHFull {
      height: 100%;
    }
  }

  &.card--tag {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    .tag {
      position: absolute;
      left: -20px;
      top: 40px;
    }

    .button {
      margin-top: auto;
    }

    .text--price {
      margin-bottom: 30px;
    }
  }
}

.img {
  display: block;

  &.img--moon {
    position: relative;
    left: 50%;
    transform: translateX(-50%) rotate(-16.39deg);
  }

  &.isRelativeCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tag {
  padding: 10px 20px;
  display: inline-flex;
  white-space: nowrap;

  .img {
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 7px;

    &.img--star {
      width: 30px;
    }

    &.img--moon {
      width: 25px;
    }
  }

  &.isNeucha {
    padding: 14px 20px 8px;
    font-family: 'Neucha', cursive;
  }

  &.isSaira {
    font-family: 'Rubik', cursive;
  }

  &.isXs {
    font-size: 17px;
  }

  &.isMd {
    font-size: 27px;
  }

  &.isLg {
    font-size: 34px;
  }

  &.isYellow {
    background: var(--yellow);
  }

  &.isPurple {
    background: var(--purple-1);
    color: var(--white)
  }

  &.isGreen {
    background: var(--green);
  }

  &.isBlue {
    background: var(--blue-2);
  }

  &.isRad {
    border-radius: var(--radius-sm);
  }

  &.isABasline {
    display: inline-flex;
    align-items: baseline;
  }
}

.bg {
  z-index: -1;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  &.bg--blue {
    top: -120px;
  }

  &.bg--lavender {
    top: -120px;
  }

  &.bg--tan-1 {
    top: -360px;
  }

  &.bg--tan-2 {
    top: -80px;
    width: 150%;
  }

  &.bg--tan-3 {
    top: -80px;
    width: 150%;
  }

  &.bg--purple-hero {
    top: 0px;
    min-width: 100%;
    min-height: 100%;
  }

  &.bg--purple-section {
    top: -100px;

  }

  &.bg--turquoise {
    top: 60px
  }

  &.bg--purple-footer {
    top: -60px
  }
}

.absolute {
  position: absolute;

  &.absolute--center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}