:root {
  --gradient-purple-1: linear-gradient(246.72deg, #B783E7 5.69%, #9139BE 88.8%);
  --gradient-purple-2: linear-gradient(180deg, #554071 1.08%, #452E57 20.35%, #3B2F4B 87.5%);
  --gradient-white-1: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  --white: #ffffff;
  --black: #151515;
  --black-1: #333333;
  --black-2: #424242;
  --yellow: #FFE600;
  --lime: #FFF6A4;
  --grey-1: #f5f5f5;
  --grey-3: #ECECEC;
  --grey-4: #a9a9a9;
  --grey-5: #585858;
  --tile: #f0d4bb;
  --purple-1: #AD4DD2;
  --purple-2: #412e51;
  --pink-1: #FFA7A7;
  --pink-2: #FF8CBC;
  --pink-3: #EC587C;
  --green: #6DEC81;
  --blue-1: #A4BBD7;
  --blue-2: #BDDFFF;
  --blue-3: #6CAAE2;
  --blue-4: #36A7A1;
  --t-black-6: rgba(49, 49, 49, 0.68);
  --t-black-5: rgba(49, 49, 49, 0.5);
  --t-white-1: rgba(255, 255, 255, 0.1);
  --t-white-2: rgba(255, 255, 255, 0.22);
  --t-white-5: rgba(255, 255, 255, 0.5);
  --t-white-6: rgba(255, 255, 255, 0.68);
  --t-white-7: rgba(255, 255, 255, 0.75);
  --t-grey-5: rgba(194, 194, 194, 0.51);;
  --t-blue-8: rgba(73, 134, 190, 0.79);

  --radius-xxs: 5px;
  --radius-xs: 7px;
  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 26px;
  --radius-lg-bot-lft: 26px 26px 26px 0px;
  --radius-lg-bot-rgt: 26px 26px 0 26px;

  --shadow-1: 0px 4px 17px -5px rgba(0, 0, 0, 0.25);
  --shadow-filter-1: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));

  --container-padding: 40px;
  --container-padding-n: calc(var(--container-padding) * -1);
  --container-padding-2: calc(var(--container-padding) * 2);
  @include m(sm) {
    --container-padding: 30px;
  }
  @include m(xs) {
    --container-padding: 15px;
  }
}
